<h1><%= "Edit Appearence Booked by current_user.username" %></h1>

<%= render 'form' %><br>


<%= link_to "Return without editing", @appearance %><br>
<%= link_to "Back to All Appearences", appearances_path %>
